# Base
NEXT_PUBLIC_APP_URL=your_value_here
NEXT_PUBLIC_APP_NAME=your_value_here

# Neon DB
DATABASE_URL=your_value_here

# NextAuth
AUTH_SECRET=your_value_here
AUTH_GOOGLE_ID=your_value_here
AUTH_GOOGLE_SECRET=your_value_here
AUTH_MICROSOFT_ENTRA_ID_ID=your_value_here
AUTH_MICROSOFT_ENTRA_ID_SECRET=your_value_here

# DeepSeek V4 Flash
DEEPSEEK_API_KEY=your_value_here

# Upstash Redis
UPSTASH_REDIS_REST_URL=your_value_here
UPSTASH_REDIS_REST_TOKEN=your_value_here

# UploadThing
UPLOADTHING_TOKEN=your_value_here

# Resend
RESEND_API_KEY=your_value_here
RESEND_FROM_EMAIL=your_value_here

# Lemon Squeezy (Merchant of Record)
LEMON_SQUEEZY_API_KEY=your_value_here
LEMON_SQUEEZY_WEBHOOK_SECRET=your_value_here

# INNGEST
INNGEST_EVENT_KEY=your_value_here
